*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(180, 148, 148, 0.993);
    color: rgb(233, 218, 218);
    min-height: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    font-size: 1.5rem;
    font-style: italic;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgba(92, 57, 57, 0.993);
}
form button{
    color: rgba(92, 57, 57, 0.993);
    background-color: rgb(235, 208, 208);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background:rgba(92, 57, 57, 0.993);
    color: rgb(235, 208, 208);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    background: rgb(95, 71, 71);
    margin: 0.5rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.edit-button, .delete-button, .check-task{
    background: rgb(235, 208, 208);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}
.todo-item{
    padding: 0rem 0.5rem;
}
.check-task{
    width: 20px;
    height: 20px;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
::placeholder{
    color: white;
    opacity: 0.3;
    text-align: center;
}
